header {
    background-color:#0a1451;
    color:#ffffff;
    display: flex;
}

.imagem-logo {
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
}

.lista-cabeçalho {
    display: flex;
}

.imagem-colégio {
    width: 20%;
    height: 20%;
}

.Escola {
    background-image: linear-gradient(#0a1451,#7390ce);
    color: white;
    display: flex;
}

